<div class="hero-details">
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <button type="button" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
            </button>
        </li>
    </ul>

    <h2>Hero Details</h2>
    <p><span>
        Id: 
    </span>{{ selectedHero.id }}<span>
        Hero Name: 
    </span><input type="text" name="name" [(ngModel)]="selectedHero.name"></p>

    <app-item-creator (newItemEvent)="addItem($event)"></app-item-creator>

    <ul>
        <li *ngFor="let item of items">{{item}}</li>
    </ul>
</div>